.popup {
    position: fixed;
    z-index: 20;
    border: 1px solid #ddd;
}

.popup-title {
    height: 60px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.popup-title h3 {
    font-size: 18px;
    margin-left: 20px;
}

.popup-title i {
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.popup-content {
    height: calc(100% - 60px);
    background: #fff;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}